:root {
	@media (prefers-color-scheme: light) {
		--app-main-background-color: rgb(255, 255, 255);
	}

	@media (prefers-color-scheme: dark) {
		--app-main-background-color: rgb(22, 27, 34);
	}
}

.app {
	background-color: var(--app-main-background-color);
	display: flex;
	flex-direction: column;
}
